* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 1000px;
  background-color: #F5C396;
  display: flex;
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: center; */
  /* justify-content: space-between, space evenly, space around */
  align-items: center;
}

.divy {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: 4px solid black;
  margin: 5px;
  font-size: 50 px;
  color: white;
}

.item {
  order: 1;
}

.item1 {
  order: 1;
}

footer {
  justify-content: flex-end;
  padding: 30px;
  background-color: #433633;
}

footer h1 {
  font-size: 20px
}